/*******reset css*******/
*{margin:0;padding: 0;}
*,*::before,*::after{box-sizing: border-box;}

body{min-height: 100dvh;}
input,button,textarea,select{font:inherit;}

p{text-wrap: pretty;}
h1,h2,h3,h4,h5,h6{text-wrap: balance;}

img,video,svg{height: auto;max-width: 100%;}

@media(prefers-reduced-motion:reduce){
  *,*::before,*::after{
    animation-duration: 0.01ms  !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
    transition:none;
  }
}
html{
  font-size: 62.5%;

}
/**************/

body{
    background-color: #F3F5FC;
    padding: 4rem;

}
main{
    margin: auto;
    display: grid;
    grid-template-columns: 10% 60% 30%;
    max-width: 144rem;
}
.cont_icon img{
    width: 4rem;
}
.cont_textarea_botones{
    display: flex;
    flex-direction: column;
}
.cont_textarea{
    display: flex;
    justify-content: center;
    font-size: 3.2rem;
    padding-top:8rem
}

.cont_textarea textarea{
    width: 100%;
    height: 60rem;
    background-color: #F3F5FC;
    border:none;
    font-family: "Inter", sans-serif;
    outline: none;
    resize: none;
    color: #0A3871;
}
textarea::placeholder {
  color: #0A3871;
}
.cont_tex_des{
  background-color: white;
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 16rem 4rem;
}
.cont_tex_des img{
  width: 80%;
}

.cont_bot{
  display: flex;
  gap: 2rem;

}

button{
  padding: 2rem 6rem;
  border-radius: 2rem;
  border:1px solid #0A3871;
  cursor: pointer;
  width: 45%;
  font-size: 1.6rem;
  margin: 2rem 0rem;
}

.but_encr{
  color: white;
  background-color: #0A3871;
}
.but_encr:hover{
  background-color: #051f3f;
}
.but_dese{
  color: #0A3871;
  background-color: #D8DFE8;
}
.but_dese:hover{
  background-color: #a6a8ac;
}

.text_alert,.text_alert_descr{
  font-family: "Inter", sans-serif;
  text-align: center;
  margin-top: 2rem;
}

.text_alert{
  font-size: 2.4rem;
  font-weight: 700;
}
.text_alert_descr{

  font-size: 1.6rem;
}